.body{
	width: 100%;
}

.top_link{
	margin-left: 80px;
}

.left_link{
	margin-left: 100px;
}

.middle_of_page{
	padding-top: 20px;
}

.row{
	margin-top: 20px; 
	padding-top: 10px;
}

.categories{
	width: 200px;
	margin: 0;
	float: left;
}

.menu{
	display: inline-block;
	margin-left: 20px; 
}

.bottom{
	background-color: grey;
}

.bottom_contacts{
	color: white;
}

.social_link{
	width: 100px;
	height: 100px
}