.body{
	width: 100%;
}


.top_of_page{
	size: 150%;
}

.top_link{
	margin-left: 80px;
	font-size: 20px;
}

.left_link{
	margin-left: 100px;
}

.middle_of_page{
	padding-top: 20px;
}

.row{
	margin-top: 30px; 
	margin-left: 50px;
	padding-top: 10px;
}

.categories{
	width: 200px;
	margin: 0;
	float: left;
}

.menu{
	display: inline-block;
	margin-left: 50px; 
	border: 2px;
	padding-bottom: 40px;
}

.bottom{
	background-color: grey;
}

.bottom_contacts{
	color: white;
}

.social_link{
	width: 100px;
	height: 100px
}

.dish_class{
	padding-bottom: 10px;
	width: 800px;
}

.pf-01-02{
	font-size: 30px;
	margin: auto;
}

.pf-01-01{
	font-size: 45px;
	font-style: italic;
	font-family: 'Slabo 27px', serif;
}

.price{
	font-size: 20px;
	display: inline-block;
	float: right;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    float: left;
}
